<div id="footer">
  <div class="footer-content">
    <div class="social-content">
      <div class="footer-logos">
        <img class="logo" src="" alt="" />
        <div class="app-stores-logo">
          <img class="app-store" src="" alt="" />
          <img class="app-store" src="" alt="" />
        </div>
      </div>
      <div>
          <p>Suivez-nous</p>
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />
          <img src="" alt="" />      
      </div>
    </div>
    <div>
      <h3>L'application</h3>
      <ul>
        <li>Vidéos outdoor</li>
        <li>Vidéos coaching</li>
        <li>Entrainement</li>
        <li>Tarifs</li>
        <li>A propos</li>
      </ul>
    </div>
    <div>
      <h3>Nos services</h3>
      <ul>
        <li>Programme de monétisation</li>
        <li>Carte cadeau</li>
        <li>Démarrer</li>
        <li>Equipement</li>
        <li>Support</li>
      </ul>
    </div>
    <div>
      <h3>L'entreprise</h3>
      <ul>
        <li>Kit médias</li>
        <li>Contact commercial</li>
        <li>Nous rejoindre</li>
      </ul>
    </div>

  </div>
</div>
