@import "../../../styles.scss";

.gift-card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $light-color-100;
}

#gift-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-items: flex-start;
  background: $dark-color;
  color: $light-color;
  font-family: "SK-Modernist-Bold", sans-serif;
  width: 90%;
  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 0 4rem 20rem;
    width: 25%;
    h2 {
      margin: 0;
      font-size: 48px;
      font-weight: 700;
    }
    p {
      font-size: 24px;
      color: $primary-text-color;
    }
    button {
      width: fit-content;
    }
    a {
      text-decoration: none;
      color: $light-color;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      &::after {
        content: url("../../assets/fleche.svg");
        display: block;
        padding: 3px 0 0 10px;
      }
    }
  }
}

//! 🖼️------RESPONSIVE-------- 🖼️

@media screen and (max-width: 1000px) {
  .gift-card-container{
    #gift-card {
      .content {
        padding: 2rem;
        width: auto;
      }
      h2{
        font-size: 36px;
      }
      p{
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #gift-card {
    .content {
      button {
        padding: 0.5rem 2rem;
      }
    }
  }
}
