@import "../../../styles.scss";

#welcome-page {
  background: $dark-color;
  font-family: "Sk-Modernist-Regular", sans-serif;
  color: $light-color;
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 10rem 2rem 10rem;
  .description {
    color: $primary-text-color;
    p{
      font-size: 34px;
    }
  }
  .text-side {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 30%;
    .title {
      h1{
        font-size: 90px;
        line-height: 150px;
      }
    }
  }
  img {
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
  }
  .redirect{
    cursor: pointer;
  }
}

//! 🖼️------RESPONSIVE-------- 🖼️

@media screen and (max-width: 1980px) {
  #welcome-page {
    align-items: center;
    gap: 5rem;
    .text-side {
      gap: 1.5rem;
      .title {
        h1 {
          line-height: 50px;
          font-size: 48px;
        }
      }
      .description{
        p{
          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  #welcome-page {
    padding: 2rem ;
    align-items: center;
    .text-side {
      .title {
        h1 {
          font-size: 38px;
        }
      }
      .description{
        p{
          font-size: 24px;
        }
      }
    }
  }

  .description {
    p {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 900px) {
  #welcome-page {
    flex-direction: column;
    .text-side {
      width: 100%;
    }
    .title {
      h1 {
        font-size: 38px;
      }
    }
    .description {
      p {
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  #welcome-page {
    gap: 1rem;
    .img-container {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  .text-side {
    width: 90%;
    gap: 0.5rem;
  }
  .title {
    h1 {
      font-size: 38px;
    }
  }
  .description {
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 500px) {
  #welcome-page {
    flex-direction: column;
    padding: 2rem 0 0 0;
    gap: 5rem;
    .text-side {
      width: 90%;
      gap: 1rem;
    }
    .img-container {
      width: 80%;
    }
  }
}
.title {
  h1 {
    font-size: 42px;
  }
}
.description {
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  #welcome-page {
    .text-side {
      gap: 0.5rem;
    }
    .img-container {
      width: 80%;
    }
  }
}
