@import "../../../styles.scss";

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-family: "SK-Modernist-Regular", sans-serif;
  height: 1.5rem;
  background: $dark-color;
  button {
    padding: 10px 50px 10px 50px;
  }
  .left-side {
    display: flex;
    gap: 5rem;
  }
  .search-zone {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .search-input {
      background: $dark-color;
      border: none;
      &::placeholder {
        color: $light-color;
      }
    }
  }
}

.navigation {
  display: flex;
  gap: 1.5rem;
  color: $primary-text-color;
  cursor: pointer;
  div {
    padding: 0.5rem;
    &:hover {
      border-bottom: 1px solid $main-color;
      color: $light-color;
    }
  }
}
.burger-menu {
  display: block;
  position: absolute;
  right: 10px;
  display: none;
  img {
    width: 30px;
  }
}

//! 🖼️------RESPONSIVE-------- 🖼️

@media screen and (max-width: 1300px) {
  #nav-bar {
    .left-side {
      gap: 5rem;
    }
  }
  .navigation,
  button {
    display: none;
  }
  .search-input {
    display: none;
  }

  .burger-menu {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .left-side {
    gap: 1.5rem !important;
    .img-container {
      width: 20px !important;
      svg {
        width: 20px !important;
      }
    }
  }
}
