$main-color : #FFC947;


body{
    background: #F4F7F9;
}
@font-face {
    font-family: 'primaryFont';
    src:local('Sk-Modernist-Bold') url('/frontproject/fonts/Sk-Modernist-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'secondaryFont';
    src: 
    local('Sk-Modernist-Regular'), url('/frontproject/fonts/Sk-Modernist-Regular.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


